<div class="show">

<h1>Create your Doc profile here!</h1>

<%= form_for :doc, url: docs_path do |f| %>
Name: <%= f.text_field :name %>
Base: <%= f.text_field :location %>
Gender: <%= f.text_field :gender %>
Photo: <%= f.text_field :img_url %>
<%= f.submit %>
<% end %>

</div>
