<div class="show">

  <h1><%= @doc.name %></h1>

  <h2><%= @doc.location %></h2>

<div class="profile">
  <%= image_tag @doc.img_url %>
</div>

<h2>Stories</h2>
<% @doc.projects.each do |project| %>
    <h3><%= link_to project.title, doc_project_path(@doc, project) %></h3>
<% end %>
</div>

<h3>Add Story<%= link_to "(+)", new_doc_project_path(@doc) %></h3>


<h2><%= link_to "Edit profile?", edit_doc_path(@doc) %></h2>
