<div class="show">


<h2>edit your story here</h2>

<%= form_for [@doc, @project] do |f| %>
    title: <%= f.text_field :title %><br>
    <br>
    theme: <%= f.text_field :theme %><br>
    <br>
    photos: <%= f.text_field :img_url %><br>
    <br>
    body: <%= f.text_area :body, cols: "50", rows: "10" %><br>
    <br>
  <%= f.submit %>
<% end %>


<h3>delete your story?</h3>
<%= form_for [@doc, @project], method: :delete do |f| %>
<%= f.submit "Delete!", class: "delete" %>
<% end %>

</div>
