<div class="show">



<div>
  <h1><%= @project.title %></h1>

  <h3>by: <%= @project.doc.name %></h>
</div>

<div>
  <h3>theme(s):<%= @project.theme %></h3>
</div>

<div class="gallery">
  <%= image_tag @project.img_url %>
</div>



<div>
  <h2> <%= @project.body %></h2>
</div>



<%= link_to "Edit?", edit_doc_project_path(@doc, @project) %>

</div>
