<h2><%= @project.title %></h2>

<h4>by: <%= @project.doc_id %></h4>

<h4>theme(s):<%= @project.theme %></h4>

<%= image_tag @project.img_url %>

<h3> <%= @project.body %></h3>


<%= link_to "Edit?", edit_doc_project_path(@doc, @project) %>
