<!DOCTYPE html>
<html>
  <head>
    <title>StoryDoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

  </head>

  <body>
    <div class="static">
      <h1><%= link_to "StoryDoc", root_path %></h1>
      <h3>Home for Documentarians and their Stories.</h3>



      <% flash.each do |type, message| %>
      <p class="flash <%= type %>"><%= message %></p>
      <% end %>

      <div class="hero">
        <%= image_tag("thumb_IMG_2057_1024.jpg") %>
        <%= image_tag("IMG_0260.jpg") %>
        <%= image_tag("IMG_0325.jpg") %>
      </div>

    </div>
    <% if !current_doc %>
      <%= link_to "New to StoryDoc?  Join Here!", new_doc_registration_path %><br>
      <br>
      <%= link_to "Sign in to your StoryDoc account", new_doc_session_path %>
    <% else %>
      <%= link_to "Sign out of StoryDoc", destroy_doc_session_path, :method => :delete %>
        <%= current_doc.email %>
    <% end %>

    <%= yield %>
  </body>
</html>
