<!DOCTYPE html>
<html>
  <head>
    <title>StoryDoc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

  </head>

  <body>
    <div class="static">
      <h1>StoryDoc <% link_to root_path %></h1>
      <h3>Home for Documentarians and their Stories.</h3>

      Visited Documentarians: <%= session[:history] %>

      <% flash.each do |type, message| %>
      <p class="flash <%= type %>"><%= message %></p>
      <% end %>
      
    </div>
    <%= yield %>
  </body>
</html>
